p {
  margin: 0px;
}
body {
  margin: -2px;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #267300;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.whiteHead {
  max-width: 120px;
  margin-left: 60%;
  height: 50px;
  border: 3px solid #267300;
}
.headText {
  text-align: center;
}
main {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.fCont {
  background-image: url(ягоди.webp);
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
}
.mainText {
  margin: auto;
  text-align: center;
  font-size: 50px;
  max-width: 1200px;
  font-weight: bold;
  background-color: white;
  text-transform: uppercase;
}
.mainBtn {
  text-align: center;
  background-color: #267300;
  padding: 19px 50px;
  border-radius: 30px;
  cursor: pointer;
  max-width: 100px;
}
.fBtn {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  margin-bottom: 100px;
}
.dBtn {
  max-width: 200px;
  text-decoration: none;
}
.btnCont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.rightText {
  font-size: 30px;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
.SText {
  font-size: 25.5px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.input {
  display: flex;
  justify-content: space-evenly;
  background-color: #267300;
  padding-bottom: 30px;
}
.inpText {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.title {
  background-color: #267300;
  padding-top: 50px;
}
select {
  font-size: 30px;
}
option + option {
  font-size: 25px;
}
